* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container{
	width: 1024px;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.menu-box {
	display: none;
}
.logo {
	height:70px;
}
.nav{
	float:right;
}
.nav-list {
	line-height: 70px;
	font-size: 16px;
	float: left;
	list-style: none;
	padding-right: 30px;
	padding-left: 30px;
}
.nav-list a {
	color: #FAFAFA;
}
#mv {
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}
.mv-title {
	font-size: 64px;
	color: #FAFAFA;
	padding-top: 200px;
	padding-bottom: 10px;
}
.mv-text {
	font-size: 20px;
	color: #FAFAFA;
}
#portfolio {
	background-color: #ECEFF1;
	text-align: center;
}
#portfolio .heading {
	padding-top: 90px;
	font-size: 32px;
	color: #000000;
}
.heading::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}
#portfolio .heading-text {
	font-size: 16px;
	color: #000000;
	padding-top: 30px;
}
.production-group {
	width: 920px;
	margin: 0 auto;
}
.bg-1 {
	background-image: url(img/sketch.jpg);
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	float: left;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.bg-2 {
	background-image: url(img/websuku.png);
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	float: left;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.bg-3 {
	background-image: url(img/write.jpg);
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	float: left;
	margin-top: 30px;
	margin-bottom: 10px;
}
.bg-4 {
	background-image: url(img/webcamp.png);
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	float: left;
	margin-right: 10px;
	margin-bottom: 90px;
}
.bg-5 {
	background-image: url(img/talk.jpg);
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	float: left;
	margin-right: 10px;
	margin-bottom: 90px;
}
.bg-6 {
	background-image: url(img/webcamp-mother.png);
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	float: left;
	margin-bottom: 90px;
}
#feature .heading {
	text-align: center;
	margin-top: 90px;
	font-size: 32px;
	color: #000000;
}
#feature .heading-text {
	text-align: center;
	font-size: 16px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 30px;
}

.strength-group {
	width: 980px;
	margin: 0 auto;
}
.strength {
	float: left;
	width: 320px;
	margin-right: 10px;
	margin-bottom: 90px;
	text-align: center;
}
.strength:last-child {
    margin-right: 0;
}
.strength-title {
	font-size: 20px;
	color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.strength-text {
	font-size: 16px;
	color: #000000;
}
.fa-code {
	font-size: 65px;
	color: #000000;
}
.fa-desktop {
	font-size: 65px;
	color: #000000;
}
.fa-cogs {
	font-size: 65px;
	color: #000000;
}
#profile {
	background-color: #ECEFF1;
}
#profile .heading {
	text-align: center;
	color: #000000;
	padding-top: 90px;
	font-size: 32px;
}
#profile .heading-text {
	text-align: center;
	color: #000000;
	margin-top: 30px;
	font-size: 16px;
}
#profile .container {
	width: 1024px;
}
#profile .my-face {
	background-image: url(img/my-icon.jpg);
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin: 0 auto;
}
 #profile .profile-group {
    padding: 30px 0 90px 0;
}
#profile .left-content {
	width: 50%;
	float: left;
}
#profile .right-content {
	width: 50%;
	float: right;
}
#profile .discription-title {
	color: #000000;
	padding-bottom: 5px;
}
#profile .discription-text {
	color: #000000;
	padding-bottom: 20px;
}
#contact .container {
	width: 800px;
	margin-top: 90px;
	margin-bottom: 90px;
}
#contact .heading {
	text-align: center;
	color: #000000;
	font-size: 32px;
}
#contact .heading-text {
	text-align:  center;
	color: #000000;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#contact .right-content {
	width: 50%;
	float: right;
}
#contact .left-content {
	width: 50%;
	float: left;
}
#contact .discription-title {
	color: #000000;
	margin-bottom: 5px;
	font-size: 20px;
}
.add {
	margin-top: 20px;
}
#contact .discription-text {
	color: #000000;
	text-decoration: underline;
}
.fa-facebook-f {
	color: #000000;
	margin-right: 20px;
	font-size: 50px;
}
.fa-twitter {
	color: #000000;
	margin-right: 20px;
	font-size: 50px;
}
.fa-instagram {
	color: #000000;
	font-size: 50px;
}
.left-contact-content {
	margin: 0 auto;
	width: 130px;
}
.right-contact-content {
	margin: 0 auto;
	width: 175px;
}
footer {
	height:60px;
	background-color: #EC715F;
}
.footer-copyright {
	font-size: 16px;
	color: #FAFAFA ;
	text-align: center;
	line-height: 60px;
}

@media screen and (max-width:768px) {
body{
	/*overflow:hidden;*/
	min-width: 100%;
}
header {
	height: 50px;
	width: 100%;
}
.logo {
	height: 50px;
}
.menu-box {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
}
.list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
}
.container{
	width: 100%;
}
.nav-list {
	display: none;
}
#mv {
	background-image: url(img/code.png);
	width: 100%;
}
.mv-title {
	font-size: 40px;
}
.mv-text {
	font-size: 18px;
}
#portfolio {
	width: 100%;
}
.production-group {
	width: 300px;
}
.bg-1{
	display: none;
}
.bg-3{
	display: none;
}
.bg-5{
	display: none;
}
.bg-2 {
	background-image: url(img/websuku.png);
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	margin-top: 30px;
	margin-bottom: 10px;
	float: none;
}
.bg-4 {
	background-image: url(img/webcamp.png);
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
	float: none;
}
.bg-6 {
	background-image: url(img/webcamp-mother.png);
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	margin-bottom: 90px;
	/*float: none;*/
}
#feature {
	width: 100%;
}
.strength {
	float: none;
	width: 320px;
	margin-right: 10px;
	margin-bottom: 90px;
	text-align: center;
}
.strength-group {
	margin: 0 auto;
	width: 320px;
}

#feature .heading-text {
	text-align: center;
	font-size: 16px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 30px;
}
#profile {
	width: 100%;
}
#profile .container{
	width: 100%;
}
#profile .left-content {
	width: 100%;
	float: none;
	margin: 0 auto;
}
#profile .right-content {
	width: 100%;
	float: none;
	margin: 0 auto;
	text-align: center;
}
/*#profile .my-face {
	width: 100%;
}*/
/*.discription-text {
	text-align: center;
	margin: 0 auto;
}*/

#contact {
	width: 100%;
}
#contact .container {
	width: 100%;
}
#contact .right-content {
	width: 50%;
	float: none;
	margin: 0 auto;
	text-align: center;
}
#contact .left-content {
	width: 50%;
	float: none;
	margin: 0 auto;
	text-align: center;
}
.discription-title {
	margin-top: 20px;
}
footer {
	width: 100%;
}
#wrapper {
  width:100%;
  overflow:hidden;
}
